
@{
    ViewBag.Title = "Application Pool Management";
}

<h3>Application Pool Management  </h3>


    <div>
        <div>
             <div class="dropdownDiv" onchange="onChangeDDL()">
                 @Html.DropDownList("AppPoolNames", new SelectList(Model.AppPoolNames), "أختر أسم", new { @class = "dropdown", id= "appPoolDropdown" })
                 <div class="error-message"  id="DDL-error-message" style="background: red; display: none;">error</div>
            </div>
         
            <div class="text-center">
                <button type="button" id="statusStartedBadge" class="btn btn-success" style="display: none;" disabled>مفعل</button>
                <button type="button" id="statusStoppedBadge" class="btn btn-danger" style="display: none;" disabled>معطل</button>
            </div>

            <div class="row">
                <div class="col-md-10 btnBox">
                    <button class="btn btn-info btn-lg" onclick="startAppPool()">أبدا</button>
                    <button class="btn btn-secondary btn-lg" onclick="recycleAppPool()">أعاده التشغيل</button>
                    <button class="btn btn-primary btn-lg" onclick="stopAppPool()">ايقاف</button>
                </div>
            </div>

        </div>
    </div>

@section Scripts
{

    <script>

      function startAppPool() {
            var selectedValue = document.getElementById("appPoolDropdown").value;
            if (selectedValue !== "أختر أسم") {
                $.ajax({
                    url: '@Url.Action("Start", "Home")',
                    type: 'POST',
                    data: { appPoolName: selectedValue }, // Send the selected value as data
                    success: function (response) {
                          location.reload();
                    },
                    error: function () {
                        alert("error from start");
                    }
                });
            }
            else{
                //TODO show error message that it must select option            
            }
        }
        //////////////////////////////////////////////////////////////////////////////////////////////
      function stopAppPool() {
            var selectedValue = document.getElementById("appPoolDropdown").value;
            console.log(selectedValue, "selected valueeee");
            if (selectedValue !== "أختر أسم") {
                $.ajax({
                    url: '@Url.Action("Stop", "Home")',
                    type: 'POST',
                    //data: { appPoolName: selectedValue }, // Send the selected value as data
                    data: { appPoolName: encodeURIComponent(selectedValue) },
                    success: function (response) {
                          location.reload();
                    },
                    error: function () {
                        alert("error from stop");
                    }
                });
            }
            else{
                //TODO show error message that it must select option            
            }
        }
      ///////////////////////////////////////////////////////////////////////////////////////////////
        function recycleAppPool() {
            var selectedValue = document.getElementById("appPoolDropdown").value;
            if (selectedValue !== "أختر أسم") {
                $.ajax({
                    url: '@Url.Action("Recycle", "Home")',
                    type: 'POST',
                    data: { appPoolName: selectedValue },
                    success: function (response) {
                        location.reload();
                    },
                    error: function () {
                        alert("error from recycle");
                    }
                });
            }
             else{
                //TODO show error message that it must select option            
            }
        }
      ///////////////////////////////////////////////////////////////////////////////////////////////

    function onChangeDDL () {
                 const stoppedBadge = document.getElementById("statusStoppedBadge");
                 const startedBadge = document.getElementById("statusStartedBadge")
                 var selectedValue = document.getElementById("appPoolDropdown").value;
                  if (selectedValue === "أختر أسم") {
                       startedBadge.style.display = "none";
                       stoppedBadge.style.display = "none";
                   }
                else{
                      $.ajax({
                        url: '@Url.Action("GetAppPoolStatus", "Home")',
                        type: 'GET',
                        data: { appPoolName: selectedValue },
                        success: function (response) {
                            if (response === "Started") {
                                   startedBadge.style.display = "block";
                                   stoppedBadge.style.display = "none";

                            } else if(response === "Stopped") {
                                  stoppedBadge.style.display = "block";
                                  startedBadge.style.display = "none";
                            }
                            else{
                                  stoppedBadge.style.display = "none";
                                  startedBadge.style.display = "none"
                            }
                        },
                        error: function () {
                         alert("error from onchangeDDL function");
                        }
                    });
                }
    }

    </script>

}