
@{
    ViewBag.Title = "Application Pool Management";
}

<h3>Application Pool Management  </h3>


    <div>
        <div>
             <div class="dropdownDiv">
                 @Html.DropDownList("AppPoolNames", new SelectList(Model.AppPoolNames), "أختر أسم", new { @class = "dropdown", id= "appPoolDropdown" })
                 <small class="error-message"  id="DDL-error-message" style="color: red; display: none;"></small>
            </div>
         
            <div class="text-center">
                <button type="button" id="statusStartedBadge" class="btn btn-success" style="display: none;" disabled>مفعل</button>
                <button type="button" id="statusStoppedBadge" class="btn btn-danger" style="display: none;" disabled>معطل</button>
            </div>

            <div class="row">
                <div class="col-md-10 btnBox">
                    <button class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Start", "Home")'" >أبدا</button>
                    <button class="btn btn-secondary btn-lg" onclick="location.href='@Url.Action("Recycle", "Home")'">أعاده التشغيل</button>
                    <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Stop", "Home")'">ايقاف</button>
                </div>
            </div>

        </div>
    </div>

@section Scripts
{

    <script>
        document.getElementById("appPoolDropdown").addEventListener('change', function(){
            var selectedValue = document.getElementById("appPoolDropdown").value;

                if (selectedValue === "أختر أسم") {
                    document.getElementById("statusStartedBadge").style.display = "none";
                    document.getElementById("statusStoppedBadge").style.display = "none";
                    document.getElementById("DDL-error-message").style.display="block";
                     document.getElementById("DDL-error-message").textContent = "nonononon";


                }
                else{
                      $.ajax({
                        url: '@Url.Action("GetAppPoolStatus", "Home")',
                        type: 'GET',
                        data: { appPoolName: selectedValue },
                        success: function (response) {
                            if (response === "Started") {
                                document.getElementById("statusStartedBadge").style.display = "block";
                                document.getElementById("statusStoppedBadge").style.display = "none";

                            } else {
                              document.getElementById("statusStartedBadge").style.display = "none";
                               document.getElementById("statusStoppedBadge").style.display = "block";
                            }
                        },
                        error: function () {
                             document.getElementById("statusStartedBadge").style.display = "none";
                             document.getElementById("statusStoppedBadge").style.display = "none";
                        }
                    });
                }
        })


    </script>

}